.section-bg {
  background: #f4f6fe;
}
.advertise {
  &__section {
    padding: 7rem 0;
  }
  &__title {
    font-size: 3rem;
  }
  &__paragraph {
    padding: 2rem;
    padding-left: 0;
  }
  &__paragraph--right {
    padding-right: 0;
    padding-left: 2rem;
  }
  &__image {
    &--item {
      width: 100%;
    }
  }
  &__image--one {
    padding-top: 8rem;
  }
}
