*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.7rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    background-color: $color-bg;
    color: $color-grey;
}
// Change selection color
::selection {
    background-color: $color-primary;
    color: $color-white;
}