*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.7rem;
  font-family: $font-bangla;
  font-weight: 400;
  background-color: $color-white;
  color: $color-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  font-weight: 700;
}

// Change selection color
::selection {
  background-color: $color-primary;
  color: $color-white;
}

// Change Scrollbar Style
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $color-primary;
}