.footer {
  position: relative;
  background: $color-bg;
  color: $color-grey;
  padding-top: 6rem;

  &__content {
    min-width: 40%;
    margin-right: 8%;
    margin-bottom: 50px;
    font-size: 90%;
  }
  &__heading {
    margin: 0 0 15px;
    font-size: 2rem;
    color: $color-white;
  }

  &__copyright {
    font-size: 80%;
    border-top: 1px solid #555;
    padding: 15px 0;
  }

  .font-english {
    font-family: $font-english;
  }

  // scroll_to_top button style
  .scroll__top {
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    bottom: 50%;
    right: 5rem;
    cursor: hand;
    border-radius: 50%;
    background: $color-secondary;
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 10px rgba($color-white, 0.7);
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      background-image: url(../img/top_arrow.svg);
      background-position: center 50%;
      background-repeat: no-repeat;
    }
  }
}
