.footer {
  position: relative;
  background: $color-bg;
  color: $color-grey;
  padding-top: 6rem;

  &__center__col {
    display: flex;
    justify-content: center;
  }

  &__content {
    min-width: 40%;
    margin-right: 8%;
    margin-bottom: 50px;
    font-size: 90%;
  }
  &__heading {
    margin: 0 0 15px;
    font-size: 2rem;
    color: $color-white;
  }

  &__list {
    margin: 0;
  }
  &__item {
    position: relative;
    z-index: 1;
    list-style: none;
    padding-left: 2rem;
    margin: 2px 0;
    padding-left: 2rem;
    cursor: all-scroll;
    transition: color 0.2s linear;

    &::before {
      position: absolute;
      content: "➣";
      color: currentColor;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &:hover {
      color: $color-white;
    }
  }

  &__social {
    display: flex;
    margin-top: 2rem;
    &--link {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 1rem;
      margin-left: 0;
    }
  }

  // Copyright Area
  &__copyright {
    font-size: 80%;
    border-top: 1px solid #555;
    padding: 15px 0;
  }

  .font-english {
    font-family: $font-english;
  }

  // scroll_to_top button style
  .scroll__top {
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    bottom: 50%;
    right: 5rem;
    cursor: hand;
    border-radius: 50%;
    background: $color-secondary;
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 10px rgba($color-white, 0.7);
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      background-image: url(../img/top_arrow.svg);
      background-position: center 50%;
      background-repeat: no-repeat;
    }
  }
}
