.section__title {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  padding: 2rem 0;
  margin-bottom: 5rem;
}

.header {
  height: 100vh;
  &__top {
    display: flex;
    align-items: baseline;

    .logo__img {
      width: 100px;
    }

    .menu {
      &__list {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      &__item {
        display: inline-block;
        margin: 0 2rem;
      }
      &__link {
        display: block;
        text-decoration: none;
        color: $color-primary;
        font-size: 1.8rem;
        padding: 2rem 0;
        transition: all 0.2s linear;

        &:hover {
          color: $color-bg;
        }
      }
    }
  }

  .hero-area {
    &__title {
      font-size: 6rem;
      margin-bottom: 4rem;
    }
    &__img {
      margin-top: 4rem;
      width: 100%;
    }
  }
}
