// Colors
$color-primary: #911bff;
$color-secondary: #ff6f66;
$color-heading: #2a2b7d;
$color-bg: #040f40;
$color-grey: #888888;
$color-white: #fff;
$color-black: #000;

// Fonts
$font-bangla: "Hind Siliguri", sans-serif;
$font-english: "Roboto Slab", serif;
